{% extends "layout.html" %} {% block body %}
<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('{{ url_for('static', filename='assets/img/posts-bg.jpg') }}')"
>
  <div class="container">
    <h2 class="text-center text-white">The Admin Dashboard</h2>
  </div>
</header>
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<div
  class="alert alert-{{category}} alert-dismissible fade show pt-0 pb-0"
  role="alert"
>
  <p class="text-center">{{message}}</p>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% endif %} {% endwith %}
<div class="container justify-contentcenter space-between">
  <div class="text-center float-left">
    <a
      class="text-white btn btn-primary text-uppercase bold"
      href="/get_contacts"
      >Get Contacts</a
    >
    <a
      class="text-white btn btn-primary text-uppercase bold"
      href="/create_post"
      >Create Post</a
    >
    <a
      class="text-white btn btn-primary text-uppercase bold"
      href="/logout"
      >logout</a
    >
    <div class="m-2 p-2 ">
      <h4>Upload Image for posts</h4>
      <form action="/uploader" method="POST" enctype="multipart/form-data">
        <input type="file" name="img_file" id="img_file">
        <input type="submit" class="text-white btn btn-primary text-uppercase bold" value="Submit">
      </form>
    </div>
  </div>
  <!-- Display all posts -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sno</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{post.title}}</td>
        <td>{{post.date.strftime('%Y-%m-%d')}}</td> <!-- Updated date format -->
        <td><a href='/edit/{{post.sno}}'><button class="btn btn-success text-uppercase">Edit</button></a></td>
        <td><a href='/delete/{{post.sno}}'><button class="btn btn-danger text-uppercase">Delete</button></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
